# SPDX-FileCopyrightText: 2026 Contributors to the CitrineOS Project
#
# SPDX-License-Identifier: Apache-2.0
services:
  mqtt-server:
    image: ghcr.io/everest/everest-demo/mqtt-server:${EVEREST_IMAGE_TAG:-0.0.23}
    platform: linux/x86_64
    logging:
      driver: none
    networks:
      - everest_net

  manager:
    build:
      dockerfile: ./everest/Dockerfile
      args:
        - EVEREST_TARGET_URL=${EVEREST_TARGET_URL}
        - EVEREST_IMAGE_TAG=${EVEREST_IMAGE_TAG:-0.0.23}
    platform: linux/x86_64
    depends_on:
      - mqtt-server
    environment:
      - MQTT_SERVER_ADDRESS=${EVEREST_MQTT_SERVER_ADDRESS:-mqtt-server}
      - EVEREST_TARGET_URL=${EVEREST_TARGET_URL}
      - EVEREST_CHARGE_POINT_ID=${EVEREST_CHARGE_POINT_ID}
      - OCPP_VERSION=${OCPP_VERSION:-two}
    sysctls:
      - net.ipv6.conf.all.disable_ipv6=0
    extra_hosts:
      - host.docker.internal:host-gateway
    expose:
      - "8888"
    networks:
      - everest_net

  nodered:
    image: ghcr.io/everest/everest-demo/nodered:${EVEREST_IMAGE_TAG:-0.0.23}
    depends_on:
      - mqtt-server
    environment:
      - MQTT_SERVER_ADDRESS=${EVEREST_MQTT_SERVER_ADDRESS:-mqtt-server}
      - FLOWS=${EVEREST_NODERED_FLOWS:-/config/config-sil-two-evse-flow.json}
    expose:
      - "1880"
    networks:
      - everest_net

networks:
  everest_net:
    driver: bridge
    enable_ipv6: true
